body{
    margin: 0px;
}

.head-container{
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    height: 50vh;
    
}

.logo-container{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    
}

.link-container{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 16px;
    font-weight:bold;
}